<!DOCTYPE html>
<html lang="en">
<head>
<title>บุคลากร : อำเภอห้างฉัตร จังหวัดลำปาง</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../assets/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="../../../../web/index.php"><span class="color-highlight">H</span>angChat District</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="../../../../web/index.php">หน้าแรก</a></li>
          <li class="active"><a href="general-02.html">บุคลากร</a></li>
          <li><a href="portfolio.html">ผลงาน</a></li>
          <li><a href="contact.html">ติดต่อ</a></li>
          <li><a href="about.html">เกี่ยวกับ</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="span8">
      <div class="well">
        <h1>บุคลากร</h1>
        <ol>
          <li>นายวรทย์  ชัยสวัสดิ์ (นายอำเภอ)</li>
          <li>นายนเรศวร์ฤทธิ์   อุบลศรี (ปลัดอำเภอหัวหน้ากลุ่มงานบริหารงานปกครอง)</li>
          <li>นายขวัญชัย   เนื่องจำนงด์  (ปลัดอำเภอหัวหน้าฝ่ายงานทะเบียนและบัตร)</li>
          <li>นายสมศักดิ์ วัชรธาดาพงศ์  (ปลัดอำเภอหัวหน้าฝ่ายความมั่นคง)</li>
		  <li>นางกิตติยา   นิ้วยะวงศ์ (ปลัดอำเภองานป้องกันและความมั่นคง)</li>
		  <li>นางสาวนลินี   ปวงแก้ว (ปลัดอำเภองานสำนักงาน)</li>
        </ol>
        <p>
		<h2>สถานที่ตั้ง</h2>
		ที่ว่าการอำเภอห้างฉัตร ถนนลำปาง-เชียงใหม่ ตำบลเวียงตาล อำเภอห้างฉัตร จังหวัดลำปาง 52190 โทรศัพท์ 054-269323</p>
      </div>
    </div>
    <div class="span4">
      <h3>Deep Sky <small> By <a href="#">Srawat56</a></small></h3>
      <a href="#"><img src="../../assets/img/thumb1.jpg" alt=""></a>
      <h3>Deep Sky <small> By <a href="#">Srawat56</a></small></h3>
      <a href="#"><img src="../../assets/img/thumb1.jpg" alt=""></a> </div>
  </div>
  <!--Start second row of columns-->
  <div class="row">
    <div class="span4">
      <h3>Column One</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
    </div>
    <div class="span4">
      <h3>Column Two</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
    </div>
    <div class="span4">
      <h3>Column Three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
    </div>
  </div>
  <hr>
  <footer class="row">
    <div>
      <div class="span4">
        <div class="is-padded">
          <nav>
            <h2>การนำทาง</h2>
            <hr>
            <ul>
                <li><a href="../../../../web/index.php">หน้าแรก</a></li>
                <li><a href="general-02.html">บุคลากร</a></li>
                <li><a href="portfolio.html">ผลงาน</a></li>
                <li><a href="contact.html">ติดต่อ</a></li>
                <li><a href="about.html">เกี่ยวกับ</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>Facebook</h2>
          <hr>
          <a href="#">#ที่ว่าการอำเภอห้างฉัตร</a>
          <p>https://www.facebook.com/pages/ที่ว่าการอำเภอห้างฉัตร/109064082511164</p>
          <em>3 days ago</em><br>
          <br>
          <a href="#">#ที่ว่าการอำเภอห้างฉัตร</a>
          <p>https://www.facebook.com/pages/ที่ว่าการอำเภอห้างฉัตร/109064082511164</p>
          <em>3 days ago</em> </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>รายละเอียด</h2>
          <blockquote>แผนพัฒนาอำเภอ 4 ปี (พ.ศ.2561 - 2564) <br>อำเภอห้างฉัตร จ.ลำปาง<br>
            <br>
            <em>- คณะกรรมการบริหารงานอำเภอห้างฉัตร<br>
             ที่ทำการปกครองอำเภอห้างฉัตร<br>  
              โทร. 0 5426 9323</em> </blockquote>
        </div>
      </div>
    </div>
    <p> &copy;2016 Yoe Forever.<br>
      Design by <a href="http://www.yoe-lks.net">yoe-lks.net</a> </p>
  </footer>
</div>
<!-- /container -->
<script src="../../assets/js/jquery-1.7.1.min.js"></script>
<script src="../../assets/js/bootstrap-transition.js"></script>
<script src="../../assets/js/bootstrap-carousel.js"></script>
<script src="../../assets/js/bootstrap-alert.js"></script>
<script src="../../assets/js/bootstrap-modal.js"></script>
<script src="../../assets/js/bootstrap-dropdown.js"></script>
<script src="../../assets/js/bootstrap-scrollspy.js"></script>
<script src="../../assets/js/bootstrap-tab.js"></script>
<script src="../../assets/js/bootstrap-tooltip.js"></script>
<script src="../../assets/js/bootstrap-popover.js"></script>
<script src="../../assets/js/bootstrap-button.js"></script>
<script src="../../assets/js/bootstrap-collapse.js"></script>
<script src="../../assets/js/bootstrap-typeahead.js"></script>
<script src="../../assets/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="../../assets/js/jquery.smooth-scroll.min.js"></script>
<script src="../../assets/js/lightbox.js"></script>
</body>
</html>
