<!DOCTYPE html>
<html lang="en">
<head>
<title>ข้อมูลสภาพทั่วไปของอำเภอ : อำเภอห้างฉัตร จังหวัดลำปาง</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../assets/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="../../../../web/index.php"><span class="color-highlight">H</span>angChat District</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="../../../../web/index.php">หน้าแรก</a></li>
          <li class="active"><a href="general-02.html">บุคลากร</a></li>
          <li><a href="portfolio.html">ผลงาน</a></li>
          <li><a href="contact.html">ติดต่อ</a></li>
          <li><a href="about.html">เกี่ยวกับ</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="span8">
      <div class="well">
        <h1>ประวัติความเป็นมาของอำเภอห้างฉัตร จังหวัดลำปาง</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อำเภอห้างฉัตร จังหวัดลำปาง ห่างจากตัวเมืองลำปางโดยทางรถไฟ 13 ก.ม. ถนนสายลำปาง – เชียงใหม่ (ทางหลวงหมายเลข 11) 17 ก.ม. อำเภอห้างฉัตร ตั้งอยู่ด้านตะวันตกของตัวเมืองลำปาง เทือกเขาสูงใหญ่ที่ขวางกั้นเขตจังหวัด ระหว่างลำปางและลำพูน ก็คือเทือกเขาขุนตาล สมัยปัจจุบันทางรถไฟลอดใต้ภูเขาลูกนี้ คือ ถ้ำขุนตาน ส่วนทางรถยนต์ต้องขึ้นเขาเช่นเดียวกันกับทางคมนาคมสมัยโบราณ ก่อนที่ชาวลำพูน-เชียงใหม่ จะเดินทางมาสู่ตัวเมืองนครลำปางและนครเขลางค์ในสมัยโบราณได้ ก็ต้องอาศัยการข้ามเขาขุนตาล ซึ่งมีลำธารชื่อแม่ตาลไหลจากเทือกเขาดังกล่าวสู่ที่ตั้งอำเภอห้างฉัตร หรือตำบลฮ่างสัต ในอดีต ซึ่งเรียกว่าแคว้น ฮ่างสัต ตามคำพื้นเมือง <br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;น้ำแม่ตาลไหลบรรจบน้ำแม่ยาว อันมีหมู่บ้านชื่อ <font size="" color="#cc0000"><em><strong>เมืองยาว</strong></em></font> ตั้งอยู่ตอนเหนือน้ำ รวมไหลลงบรรจบแม่น้ำวังที่อำเภอเกาะคา อันเป็นที่ตั้งเมืองลัมภะกัปปะ หรือเมืองลำปางโบราณ ปัจจุบันเรียกว่า บ้านลำปางหลวง  อันเป็นที่ตั้งวัดพระธาตุลำปางหลวง <br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คำว่าเมืองในที่นี้ เป็นภาษาท้องถิ่นซึ่งหมายถึงชุมชนใหญ่ คำว่า “เมือง” ตามภาษาเมืองเหนือจึงมิได้หมายถึงสภาพเมืองใหญ่โตตามที่เข้าใจกัน อาจจะเป็นชุมชนเล็กๆ ก็เรียกว่าเมืองได้  หรือเป็นเมืองที่รองลงมา เช่น เมืองเมาะเมืองจาง เขตอำเภอเมือง เมืองมายในเขตอำเภอแม่ทะ ฯลฯ เพราะภาษาท้องถิ่นยังมีคำว่า “เวียง” อันหมายถึง เมืองที่มีสภาพเป็นที่รวมของหมู่คนชั้นนำทั้งฝ่ายราษฎรและฝ่ายปกครอง ชาวเมืองยาวจะเข้าสู่ตัวเมืองใหญ่จะเรียกว่า “เข้าเวียง” อันหมายถึง การเข้าสู่ตัวเมืองใหญ่ นั่นเอง
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="" color="#cc0000"><em><strong>ว่าด้วยชื่อ “ฮ่างสัต” ชื่อเก่าของอำเภอห้างฉัตร</strong></em></font>
	คำว่า ฮ่างสัต เป็นสำเนียงของคนในท้องถิ่น หมายถึงร่างทั้งเจ็ด ชื่อที่ปรากฏในจารึกแผ่นเงินของเจ้าอารักษ์ขุนตาลดังกล่าวข้างต้นก็ดี ในตำนานเจ้าเจ็ดองค์ก็ดี ตำนานพื้นเมืองเชียงใหม่ก็ดี เขียนด้วยคำว่า   “ร่างสัต” ไว้หลายแห่ง เป็นชื่อที่ออกเสียงตรงกับวิธีเขียนว่า “ห้างสัตย์” ก็ได้ แต่ในสมัยหนึ่งเริ่มยกฐานะตำบลดังกล่าวเป็นที่ตั้งอำเภอ ได้เขียนชื่ออำเภอนี้ว่า อำเภอหางสัตว์ รวมทั้งตั้งชื่อสถานีรถไฟหางสัตว์ก็ได้เกิดขึ้นในระยะนั้น โดยที่ประวัติเกี่ยวกับความหมายของชื่อฮ่างสัตดังกล่าว ไม่สู้จะแพร่หลาย จึงได้มีการเรียกร้องให้มีการเปลี่ยนชื่ออำเภอดังกล่าว ผู้ประสงค์จะเปลี่ยนชื่อในระยะนั้นไม่อาจจะตีความคำว่า “หางสัตว์” ได้ เพราะสำเนียงเรียกกันแล้วคนในท้องถิ่นบางหมู่บ้าน ก็เรียก “ฮ่างสัต” โดยออกเสียงพยางค์ต้นยาวมีเสียงจัตวากล้ำไว้ด้วยดังนี้<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“ฮ๋างสัต” ซึ่งตรงกับวิธีสะกดด้วยตัวอักษรว่า “หางสัตว์” ได้ตามสำเนียงเรียก มีตำนานประกอบการตั้งชื่อในครั้งนั้นว่า ครั้งหนึ่งนานมาแล้ว พระนางจามเทวีนำฉัตรซึ่งบรรทุกบนหลังช้างแต่หริภุญไชย หยุดประกอบองค์ฉัตรที่ตำบลดังกล่าวเพื่อจะนำไปประดิษฐานไว้เหนือพระธาตุเจดีย์ลำปางหลวง การประกอบของสูงที่ต้องปีนป่ายนั้นเป็นคำกิริยาเรียกว่า “ห้าง” พร้อมเสนอว่า เป็นเรื่องราวของพระนางจามเทวีห้างฉัตรที่ตำบลซึ่งเรียกกันว่า “หางสัตว์”
</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="" color="#cc0000"><em><strong>เกี่ยวกับคำว่า “ร่างสัต”</strong></em></font> หมายถึง ร่างทั้ง 7 หมายถึงผู้ใดนั้น ผู้เขียนได้ค้นพบสิ่งที่พึงให้ความหมายได้ 2 นัยคือ จากการสอบประวัติและรายชื่อ เจ้าพ่อที่ชาวบ้านนับถือประจำหออารักษ์ขุนตาลในอำเภอห้างฉัตร ถือว่า
มีเจ้าพ่ออยู่ 7 ตน รายชื่อดังนี้<br>
<ol>
	<li>เจ้าพระบาทขลางคำ (เจ้าพ่อเขลางค์)</li>
	<li>เจ้าฟ้าเขียว</li>
	<li>เจ้าเปลวปล่องฟ้า</li>
	<li>เจ้าข้อมือเหล็ก</li>
	<li>เจ้าพละพื่ก (เจ้าพละ คือพระยาพละราชแห่งพละนคร คือเมืองแพร่ พื่กเป็นคำโบราณปรากฏใช้แต่จารึกกฎหมายเมงราย แปลว่าหลีก) เจ้าพละพื่กหมายถึง เจ้าพละราชแพ่งพละนคร               ได้หลีกจาการที่จะพยายามขุดเอาพระธาตุของวัดลำปางหลวงไปจากเมืองลำปาง</li>
	<li>เจ้าหาญกวาด</li>
	<li>เจ้าหาญเจ็ดเตี่ยว คำว่าเตี่ยว หมายถึงกางเกง เจ้าหาญเจ็ดเตี่ยวจึงหมายถึงเจ้าหาญ 7 ตนซึ่งนุ่งกางเกง (สมัยพม่าปกครอง ทหารนุ่งโสร่ง) อันหมายถึงเจ้าหาญที่มิใช่พม่า</li>
</ol>
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกนัยหนึ่ง ชื่อฮ่างสัต หรือร่างสัต อาจจะหมายถึงเชื้อเจ้า 7 พระองค์ ในสกุลเจ้าผู้ครองนครลำปางโดยตรงก็ได้ เพราะตำนานเจ้าเจ็ดพระองค์ หลังจากที่เจ้าทิพย์ช้างได้กอบกู้อิสรภาพชาวลำปางและชาวนคร พ้นจากพม่า ข้าศึกที่วัดพระธาตุลำปางหลวงแล้วได้ติดตามขับไล่ เสร็จแล้วได้ทำพิธีบูชาเจ้าอารักษ์ต่าง ๆ ที่ริมน้ำแม่ตาล สถานที่ดังกล่าวเรียกว่า “ฮ่างสัต” เขียนเป็นอักษรในตำนานว่า “ร่างสัต” ตำนานเจ้าเจ็ดพระองค์ได้เรียกสถานที่ดังกล่าวไว้มากแห่ง ยังมีตำนานพื้นเมืองเชียงใหม่ระบุเรื่องชื่อร่างสัตไว้ในสมัยที่เจ้าทิพย์ช้างกอบกู้อิสรภาพ อันเป็นระยะสมัยปลายกรุงศรีอยุธยาต่อสมัยธนบุรี และรัตนโกสินทร์ ก่อนหน้านั้น มิได้กล่าวถึงชื่อ “ร่างสัต” ไว้เลย ในสมัยเมื่อทัพหริภุญไชยแตกพ่าย ทัพพระยาเบิกแห่งเขลางค์  ตั้งมั่นอยู่ริมน้ำแม่ตาล ถูกทัพเชียงใหม่ฆ่าตายในที่รบ จารึกเหตุการณ์ในระยะนั้น  มิได้เรียกชื่อตำบลดังกล่าวไว้เลย จนกระทั่งถึงสมัยเจ้าหอคำดวงทิพย์ได้จารึกไว้ เรียกชื่อร่างสัตโดยกำหนดเป็นแคว้นร่างสัตมีอาณาเขตถึงเมืองยาวเป็นสำคัญในตอนเหนือ<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชื่อ “ร่างสัต” อันหมายถึงร่างทั้งเจ็ด อาจจะหมายถึงเจ้าพ่อทั้ง ๗ แห่ง ซึ่งรวมเอาเจ้าหาญ ๗ เตี่ยว เจ้าทั้งเจ็ดพระองค์จากสกุลเจ้าทิพย์ช้างรวมไว้เป็นชื่อเจ้าพ่อตนหนึ่ง หรืออาจจะหมายถึงเจ้าทั้งเจ็ดพระองค์จากสกุลดังกล่าว ก็ได้ ได้ถือเอาสถานที่ใกล้น้ำแม่ตาล  อันเป็นที่ตั้งศาลเจ้าอารักษ์ขุนตาล  เป็นที่ประกอบพิธีสำคัญก็ได้
</p>
      </div>
    </div>
    <div class="span4">
      <h3>ภูมิศาสตร์ <small> By <a href="#">administrator</a></small></h3>
      <a href="#"><img src="../../assets/img/thumb1.png" alt=""></a>
      <h3>สถานีรถไฟขุนตาล <small> By <a href="#">administrator</a></small></h3>
      <a href="#"><img src="../../assets/img/thumb2.png" alt=""></a> </div>
  </div>
  <!--Start second row of columns-->
  <div class="row">
    <div class="span4">
      <h3>ยุคสร้างทางรถไฟ</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยุคนี้เป็นยุคที่ก่อให้เกิดการเปลี่ยนแปลงมากมาย โดยเฉพาะการเปลี่ยนแปลงที่มีผลต่อทรัพยากรธรรมชาติ เช่น ไม้สัก เป็นยุคที่คนจีน เข้ามา ทำมาหากินตั้งรกรากในตำบลห้างฉัตร กำเนิดโรงสีข้าว มีการสัมปทานไม้สัก มีโรงเลื่อยไม้ ประมาณปี พ.ศ. 2480 คนจีนเริ่มเข้ามาค้าขายตั้งรกรากอยู่ในตำบลห้างฉัตร ส่วนบ้านห้างฉัตร (หมู่ที่ 6) การตั้งถิ่นฐานตั้งอยู่ตามลำน้ำ เป็นเขตรอบนอกตัวอำเภอ ไม่มีคนจีนมาตั้งถิ่นฐาน คนจีนจะมาตั้งถิ่นฐานและซื้อที่ดินทำกินจากเจ้าขุนมูลนาย ซึ่งมีทรัพย์สมบัติมากมาย เป็นคนมั่งคั่งในชุมชน คาดว่ามีคนจีนตั้งถิ่นฐานตั้งแต่รับกาลที่ 4 โดยอยู่หน้าตลาดห้างฉัตร นิสัยคนจีนชอบทำมาค้าขาย ส่วนคนพื้นเมืองซึ่งมีฐานะยากจนไม่ชอบค้าขาย แต่ชอบที่จะถางป่าเพื่อทำนาและเสียภาษีให้แก่เจ้าขุนมูลนาย ซึ่งส่วนใหญ่มีฐานะร่ำรวย และมีบทบาทเป็นผู้นำชุมชน โดยเปาท้าว (ผู้ใหญ่บ้าน) และเป็นพระยาหรือแคว่น (กำนัน) บางหมู่บ้านเรียกว่า “ขุน”<br>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="" color="#cc0000"><em><strong>การสร้างทางรถไฟ</strong></em></font>  เป็นการเกิดของชุมชนบ้านสถานี สืบเนื่องจากการสร้างทางรถไฟ ครั้งแรกมีชาวบ้านจากหมู่บ้านลำปางกลาง มารับจ้างสร้างทางรถไฟสายลำปาง-เชียงใหม่ประมาณ 1 กลุ่ม และต่อมาได้มาตั้งรกรากเพิ่มขึ้น 10 หลังคาเรือน ตั้งแต่ พ.ศ. 2460 เป็นต้นมา และตั้งชื่อหมู่บ้านนี้ว่า “บ้านสเตย์หนองหมู” เพราะเรียกตามฝรั่งที่มาคุมงานสร้างทางรถไฟ ชาวบ้านขายแรงงานสร้างทางรถไฟวันละ 25 สตางค์ ซึ่งถือว่าเป็นค่าแรงที่สูงมากในสมัยนั้น
</p>
    </div>
    <div class="span4">
      <h3>ยุคทหารญี่ปุ่นเข้าห้างฉัตร</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในช่วงสงครามโลกครั้งที่ 2 ได้กำเนิดระบบการรักษาพยาบาลแผนใหม่ เศรษฐกิจการเงินสะพัด ในช่วงปลายของยุคสงคราม กำเนิดโรงสูบฝิ่นรัฐบาลและขบวนการค้าฝิ่นเถื่อน อันเป็นที่มาและสืบทอดกันมาในการค้าขายยาเสพติดในปัจจุบัน ช่วงสงครามโลกครั้งที่ 2 ตอนปลาย ประมาณ พ.ศ. 2485 ทหารญี่ปุ่นเข้ามาเมืองไทย ชาวบ้านได้ค่าแรงเพิ่มขึ้นเป็นเท่าตัว สาเหตุเพราะทหารญี่ปุ่นมาทำสงครามและสร้างสนามบินที่หมู่บ้านแม่ยิ่ง ตำบลหนองหล่ม ผลพวงของสงครามทำให้หมู่บ้านแห่งนี้กลายเป็นสนามรบ ทำให้ชาวบ้านหมู่บ้านสเตย์หนองหมูพากันอพยพไปอยู่หลุมหลบภัยในลำห้วยหนองบัว อีกส่วนหนึ่งอพยพหลบภัยที่ห้วยหนองหมู (ปัจจุบันคือ สวนอนันตยศ)  พากันทิ้งบ้านเรือน อพยพทำเช่นนี้จนสงครามสงบ สงครามโลกครั้งที่ 2 ทหารญี่ปุ่นได้มาอยู่อาศัยบ้านสถานี มาปลูกบ้านพัก ณ ที่แห่งนี้กว่า 100 หลังคา ทำให้ชาวบ้านมีรายได้จากการค้าขายพืชไร่ และขายแรงงานโดยรับจ้าง เมื่อทหารญี่ปุ่นแพ้สงครามก็ทำอัตวิบากกรรม คือ ฆ่าตัวตาย (ฮาราคิรี) โดยเอามีดคว้านท้องเอาไส้พุงออก  เมื่อสงครามสงบชาวบ้านก็กลับถิ่นฐาน</p>
    </div>
    <div class="span4">
      <h3>ยุคไฟฟ้าเข้าห้างฉัตร</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สมัยก่อน ชาวบ้านนิยมใช้ยางต้นเหียง ต้นตึง ทำเป็นแคร่จุดแสงสว่าง สำหรับเดินทางกลางคืน และจุดภายในบ้าน พอมาอีกสมัยหนึ่งจะจุดไต้ ให้แสงสว่าง พออีกสมัยหนึ่ง จุดโคมไฟ ให้แสงสว่าง ตามบ้านเรือนและต่อมาใช้ตะเกียงน้ำมันก๊าด  ต่อมาประมาณ พ.ศ. 2495 มีไฟฟ้าใช้ในหมู่บ้าน หมู่ที่ 1 และ หมู่ที่ 2 ตำบลห้างแตร โดยใช้เครื่องยนต์ปั่นเปิดจ่ายกระแสไฟฟ้าให้ใช้ในเวลา 18.00 น. และปิดเวลา 24.00 น. ซึ่งมีสถานีปั่นไฟที่บ้านพักตำรวจ (ติดสถานีตำรวจอาคารเดิม) ต่อมาเปลี่ยนจากใช้เครื่องปั่นเป็นใช้ไฟฟ้าแรงสูงของเขื่อนยันฮี ประมาณ พ.ศ. 2498 ต่อมาประมาณ พ.ศ. 2506 ใช้ไฟฟ้าแรงสูงจากการไฟฟ้าฝ่ายผลิตของแม่เมาะ ซึ่งเป็นหน่วยงานการไฟฟ้าส่วนภูมิภาคของอำเภอห้างฉัตร
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="" color="#cc0000"><em><strong>ยุคของการตื่นตัวทางการเมือง การปกครองและยุคขายแรงงาน</strong></em></font> สภาพสังคมในชุมชนของอำเภอห้างฉัตร  พบว่า ยังมีสภาพเป็นชุมชนเกษตรกรรมดั้งเดิม ที่พึ่งพาธรรมชาติเป็นส่วนใหญ่ โดยดูผลผลิตทางการเกษตร เช่น การปลูกข้าวเพื่อบริโภคเป็นพื้นฐาน รูปแบบของการผลิตซึ่งเป็นการทำนา ทำไร่ ทำสวน เครื่องมือในการผลิตยังคมมีการใช้แรงงานคนในครอบครัวเป็นหลัก และเปลี่ยนเป็นเครื่องจักรเพิ่มขึ้น เช่น รถไถนา แต่ไม่ได้หมายความว่ามีการใช้เครื่องจักร เครื่องทุ่นแรงเหล่านี้อย่างเข้มขัน  นอกจากอาชีพเกษตรกรรมแล้ว จากการที่มีประชากรเพิ่มขึ้น แต่พื้นที่เกษตรกรรมยังคงเท่าเดิม หรืออาจจะน้อยลง ทำให้คนในชุมชนออกไปทำงานต่างถิ่นมากขึ้น โดยไปทำงานในโรงงานใกล้บ้าน รับจ้างทำงานในจังหวัด หรือไปทำงานกรุงเทพมหานครและต่างประเทศ เป็นต้น เพื่อนำเงินกลับมายังครอบครัวของตน นั่นเอง
</p>
    </div>
  </div>
  <hr>
  <footer class="row">
    <div>
      <div class="span4">
        <div class="is-padded">
          <nav>
            <h2>การนำทาง</h2>
            <hr>
            <ul>
                <li><a href="../../../../web/index.php">หน้าแรก</a></li>
                <li><a href="general-02.html">บุคลากร</a></li>
                <li><a href="portfolio.html">ผลงาน</a></li>
                <li><a href="contact.html">ติดต่อ</a></li>
                <li><a href="about.html">เกี่ยวกับ</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>Facebook</h2>
          <hr>
          <a href="#">#ที่ว่าการอำเภอห้างฉัตร</a>
          <p>https://www.facebook.com/pages/ที่ว่าการอำเภอห้างฉัตร/109064082511164</p>
          <em>3 days ago</em><br>
          <br>
          <a href="#">#ที่ว่าการอำเภอห้างฉัตร</a>
          <p>https://www.facebook.com/pages/ที่ว่าการอำเภอห้างฉัตร/109064082511164</p>
          <em>3 days ago</em> </div>
      </div>
      <div class="span4">
        <div class="is-padded">
          <h2>รายละเอียด</h2>
          <blockquote>แผนพัฒนาอำเภอ 4 ปี (พ.ศ.2561 - 2564) <br>อำเภอห้างฉัตร จ.ลำปาง<br>
            <br>
            <em>- คณะกรรมการบริหารงานอำเภอห้างฉัตร<br>
             ที่ทำการปกครองอำเภอห้างฉัตร<br>  
              โทร. 0 5426 9323</em> </blockquote>
        </div>
      </div>
    </div>
    <p> &copy;2016 Yoe Forever.<br>
      Design by <a href="http://www.yoe-lks.net">yoe-lks.net</a> </p>
  </footer>
</div>
<!-- /container -->
<script src="../../assets/js/jquery-1.7.1.min.js"></script>
<script src="../../assets/js/bootstrap-transition.js"></script>
<script src="../../assets/js/bootstrap-carousel.js"></script>
<script src="../../assets/js/bootstrap-alert.js"></script>
<script src="../../assets/js/bootstrap-modal.js"></script>
<script src="../../assets/js/bootstrap-dropdown.js"></script>
<script src="../../assets/js/bootstrap-scrollspy.js"></script>
<script src="../../assets/js/bootstrap-tab.js"></script>
<script src="../../assets/js/bootstrap-tooltip.js"></script>
<script src="../../assets/js/bootstrap-popover.js"></script>
<script src="../../assets/js/bootstrap-button.js"></script>
<script src="../../assets/js/bootstrap-collapse.js"></script>
<script src="../../assets/js/bootstrap-typeahead.js"></script>
<script src="../../assets/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="../../assets/js/jquery.smooth-scroll.min.js"></script>
<script src="../../assets/js/lightbox.js"></script>
</body>
</html>
